<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customsorting" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom Sorting</label>
            <tab>general</tab>
            <resource>Magento_Config::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="sort_fields" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Sorting Fields</label>
                    <frontend_model>Yuriy\CustomSorting\Block\Adminhtml\System\Config\Field\SortingAttributes</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
